*{
    padding: 0;
   margin:0;
    box-sizing: border-box;
    }
main {
    text-align: center;
   font-size: 30px;
   
}
a {
    text-decoration: none;
}

body{
    background-color:lavenderblush;
    padding: 100px;
    border-left: 30px;
}

